<footer class="main-footer">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="footer-info text-center text-lg-start">
                    <img src="img/beelogo.png" alt="Resource Hive Footer Logo" class="footer-logo">
                    <h2 class="footer-title">Resource Hive</h2>
                    <div class="contact-info">
                        <div class="contact-item">
                            <img src="img/call.png" alt="Phone" class="icon">
                            <span>+639 61 720 8991</span>
                        </div>
                        <div class="contact-item">
                            <img src="img/email.png" alt="Email" class="icon">
                            <span>resourcehive@gmail.com</span>
                        </div>
                        <div class="contact-item">
                            <img src="img/map.png" alt="Location" class="icon">
                            <span>Indang, Cavite, Philippines</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-links">
                    <h3>Quick Links</h3>
                    <ul class="list-unstyled">
                        <li><a href="about.html">About Resource Hive</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#how-to-book">How to Book</a></li>
                        <li><a href="help_center.html">Help Center</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-social">
                    <h3>Follow us on</h3>
                    <ul class="list-unstyled social-links">
                        <li><a href="https://www.facebook.com/profile.php?id=61570949275956"><img src="img/fb.png" alt="Facebook" class="social-icon"> Facebook</a></li>
                        <li><a href="#"><img src="img/ig.png" alt="Instagram" class="social-icon"> Instagram</a></li>
                        <li><a href="#"><img src="img/yt.webp" alt="YouTube" class="social-icon"> YouTube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom mt-4">
        <div class="container text-center">
            <p>&copy; 2024 CvSU - Department of Information Technology</p>
        </div>
    </div>
</footer>
