/** @type {import('tailwindcss').Config} */
module.exports = {
    content: [
      "./C:/Users/joshd/Desktop/Visual Visionaries/Soft Eng Software/Soft Eng Software/**/*.html", 
      "./C:/Users/joshd/Desktop/Visual Visionaries/Soft Eng Software/Soft Eng Software/**/*.js"
    ],
    theme: {
      extend: {},
    },
    plugins: [],
  }
  